### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### macOS ###
.DS_Store

### Local Allure installation ###
.allure/
allure-results/

### Maven build files ###
target/*

### Keep Allure results and reports ###
!target/allure-results/
!target/allure-results/**

!target/allure-report/
!target/allure-report/**

### Logs ###
*.log